# Assignment 1

## Total: 35pts

### Part A - Write Code! (5pts)

For each item below, determine the appropriate JavaScript code to generate the desired output.

---

1) Display your name and student ID to the console.

In [2]:
var firstName = "Becky"
var lastName = "Gray"
var studentID = "w0160516"
console.log("Name: %s %s, ID: %s", firstName, lastName, studentID)

Name: Becky Gray, ID: w0160516

---

2) Create a variable, called __num__, to hold the integer value, __10__. Then, display the contents of the variable.

In [3]:
var num = 10
console.log(num)

10

---

3) Create a variable to hold the name of your favourite TV character. Then, use string concatenation to display the message "My favourite TV star is: " with the variable contents appended. (e.g. "My favourite TV star is: Homer Simpson")

In [4]:
var charName = "Arya Stark"
console.log("My favourite TV Character is",charName)

My favourite TV Character is Arya Stark

---

4) Display Santa Clause's catch phrase (Ho Ho Ho) using the string repeat method.

In [6]:
"Ho ".repeat(3)

'Ho Ho Ho '

---

5) Create the JavaScript statement to calculate the following mathematical expression: $2 + 3 \times 4 - 6 \div 3 $

In [7]:
2 + 3 * 4 - 6 / 3

12

---

### Part B - Fix the Error! (15pts)

Listed below are several snippets of code that contain small errors. For each of the questions, __correct the error__ so the code will generate the desired output.

---

6) Display a string of text on the screen.

In [3]:
console.log ("This is a story about a man named Jed.")

This is a story about a man named Jed.

---

7) Display a string and a decimal number. (Note: Do this one without using string concatentation.)

In [4]:
console.log("PI = ", Math.PI)

PI =  3.141592653589793

---

8) Fix the calculation.

In [3]:
console.log (1 + 2)

3

---

9) Fix the calculation.

In [30]:
console.log("3 cubed =", Math.pow(3,3))

3 cubed = 27

---

10) Fix the template literal to display a name in the format <em>&lt;last name&gt;, &lt;first name&gt;</em>

In [8]:
var firstName = "John"
var lastName = "Smith"
console.log(`${lastName}, ${firstName}`)

Smith, John

---

11) Display the answer of an integer division and the remainder. There should not be any decimal points displayed.

In [7]:
console.log("13 / 5 =", Math.floor (13/5), "remainder", 13%5)

13 / 5 = 2 remainder 3

---

12) Correct the following calculation to convert 100&deg; Celsius to Fahrenheit.

In [22]:
var temperature = 100.0
console.log(temperature * 9 / 5 + 32)

212

---

13) Correct the following to calculate and display the expected answer.

In [24]:
console.log("1 + 2 =", 1 + 2)

1 + 2 = 3

---

14) Correct the following to display the desired output.

In [69]:
var ninetynine = 99
console.log("Number = ", ninetynine)

Number =  99

---

15) Use a single print statement to print on multiple lines.

In [53]:
console.log("\n This is \n on multiple \n lines")

 This is
 on multiple
 lines

---

16) Comment out the first line.

In [29]:
// This is just a comment.
console.log("You should only see this line.")

You should only see this line.

---

17) Make some ASCII art!

In [12]:
console.log(".     ." + "\n" + " \\ O /" + "\n" + "  - -"  + "\n" +"   |" +  "\n" +"   ^"  + "\n" + "  / \\" + "\n" + " -   -")

.     .
 \ O /
  - -
   |
   ^
  / \
 -   -

---

18) A couple of problems here....

In [4]:
var not = "not"
console.log(`Something's ${not}` + ` right here.`)

Something's not right here.

---

19) Fix the following bill calculation by adding a 15% gratuity.

In [42]:
var restaurantBill = 10.00
restaurantBill = (1.15)*restaurantBill
console.log('Total: $' + restaurantBill.toFixed(2))

Total: $11.50

---

20) Correct the following inventory count by subtracting the number of items sold from the total.

In [43]:
var totalItems = 100
var itemsSold = 42
totalItems = 100-42
console.log(`Sold: ${itemsSold}, Remaining: ${totalItems}`)

Sold: 42, Remaining: 58

---

### Part C - Math (15pts)

Create a JavaScript program that calculates the roots of a quadratic equation using the equation, $x = \large {-b \pm \sqrt{b^2 - 4ac} \over 2a}$.

You can assume that the equations used will always have two defined roots. (i.e. ${a \ne 0}$)

The program should allow the user to input the three variables of the formula, a, b, and c, and then output the resulting roots.

Example:

<div style="width:800px"><img src="img/quadratic.gif" /></div>